* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    background-image: radial-gradient(rgb(200, 20, 20), black);
  }
  
  @mixin estilo-box-sub {
    background-color: red;
    text-align: center;
  }
  
  @mixin estilo-subtitulos {
    font-family: 'Audiowide';
    color: white;
    padding: 1%;
    margin: 120px 0px 30px 0px;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(13, 0, 0);
  }
  
  /*INDEX*/
  
  .index {
    margin-top: 9.6%;
  }
  
  @media (max-width: 1000px) {
    .index {
      margin-top: 19%;
    }
  }
  
  .carousel-inner {
    h5 {
      text-shadow: 2px 2px 2px black;
      font-size: 2vw;
      font-size: 1.4rem;
    }
  
    a {
      text-decoration: none;
      color: red;
    }
  }
  
  .carousel {
    margin-top: 3rem;
  }
  
  /*ANUNCIO*/
  
  .anuncio img {
    width: 100%;
  }
  
  /*Section*/
  
  .section {
    background-color: white;
  }
  
  .texto-grande {
    width: 80%;
  }

  .texto-grande h6{
    font-family: 'Audiowide';
    font-size: 4.5rem;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 1rem;
  }
  
  @media (max-width: 965px) {
    .texto-grande {
      h6 {
        font-size: 4rem;
      }
  
      width: 100%;
    }
  }
  
  @media (max-width: 650px) {
    .texto-grande {
      h6 {
        font-size: 2.8rem;
      }
  
      width: 100%;
    }
  }
  
  .novedades {
    h2 {
      font-family: 'Audiowide';
      font-size: 3.5rem;
      color: white;
      text-align: center;
    }
  
    p {
      color: white;
      font-size: 1.5rem;
      font-style: oblique;
      text-align: center;
    }
  }

.carousel{
    .novedades-carrusel{
        .card{
            margin-top: 1rem;
        }
    }
}
      
  
  .carousel p {
    color: rgb(7, 0, 0);
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  @media (max-width: 750px) {
    .carousel p {
      font-size: .8rem;
    }
  }
  
  /*CATEGORIAS*/

  .titulo-categoria{
    @include estilo-box-sub()
}

.titulo-categoria h3{
        @include estilo-subtitulos()
    }
  
  .cate {
    .card {
      box-shadow: 5px 5px 5px rgb(22, 2, 2);
      width: 85%;
      margin-bottom: 5%;
      margin-left: 8%;
      text-align: center;
      cursor: pointer;
    }
  
    img:hover {
      -webkit-transform: scale(2);
      transform: scale(1.1);
      transition-duration: 1s;
    }
  
    .card {
      img {
        width: 90%;
        padding-left: 7%;
        padding-top: 5%;
      }
  
      h5 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: x-large;
      }
  
      .btn {
        background-color: red;
        border-color: red;
        width: 55%;
        height: 15%;
        box-shadow: 1px 1px 4px black;
        text-transform: uppercase;
        font-size: small;
      }
    }
  }
  
  @media (max-width: 750px) {
    .cate .card {
      width: 90%;
      margin-left: 6%;
    }
  }
  
  .card .btn:hover {
    background-color: rgb(210, 80, 80);
    border-color: rgb(210, 80, 80);
  }

  /*CATEGORIAS VARIAS*/

  main{
    .card{
        box-shadow: 4px 4px 6px black;
        background-color: rgb(202, 200, 200);
    }
  }

  .card-body-cate{
    .card-title{
        font-family: $fuente-subtitulo;
        font-size: 7vw;
        color: red;
    }
    p{
        font-family: "Exo 2", sans-serif;
        padding: 0% 2% 0% 2%;
        font-size: 1.5rem
    }
    li{
        font-family: "Exo 2", sans-serif;
        font-size: 1.5rem;
        display: list-item;
    }
  }

  .dif-categorias-img{
    img{
        border-radius: 10px;
        box-shadow: 4px 0px 6px black;
    }
    
  }

  .carousel .card{
    margin-top: .5rem;
  }
 
  
  @media (max-width:1040px){
    .card-body-cate li{
        font-size: 4.5vw;
    }

    .card-body-cate p{
        font-size: 4.5vw;
    }
    
    .lado-2{
        display: none;
    }
  }
  
  /*NOTICIAS*/
  
  .noticias {
    .card {
      border-radius: 1px;
    }
  
    .row {
      margin-left: 1%;
      margin-right: 1%;
    }
  
    text-align: center;
  
    h6 {
      font-weight: bold;
      font-size: 1.5rem;
    }
  
    .card img {
      width: 100%;
    }
  }
  
  .card-p6 {
    font-size: 1rem;
    font-weight: bold;
  }
  
  @media (max-width: 765px) {
    .noticias{
        .card-text {
            display: none;
          }
    }
  
    .card-p6 {
      font-size: 1.5rem;
    }
  }
  
  .noticias {
    a {
      text-decoration: none;
      color: black;
      font-size: 2rem;
  
      &:hover {
        color: red;
      }
    }
  
    img:hover {
      filter: grayscale(80%);
    }
  }
  
  .publi-noticias {
    width: 95%;
  }
  
  /*CONTACTO*/
  
  .contacto img {
    width: 72%;
    border-radius: 10px;
    margin-top: 20%;
    margin-left: 20%;
  }
  
  .contacto-form {
    margin-top: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.621);
    background-color: rgb(26, 24, 24);
    padding: 4%;
    border-radius: 10px;
  
    h2 {
      text-transform: uppercase;
      font-weight: bold;
    }
  
    label {
      padding-top: 2%;
      padding-bottom: 5px;
    }
  
    textarea {
      width: 100%;
      border-radius: 7px;
    }
  }
  
  @media (max-width: 1040px) {
    .contacto-form {
      margin-top: 20%;
      margin-right: 5%;
      margin-left: 7%;
      margin-bottom: 2%;
      color: rgb(255, 255, 255);
      text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.621);
      background-color: rgb(26, 24, 24);
      padding: 4%;
      border-radius: 10px;
    }
  }
  
  .botones-contacto button {
    background-color: red;
    color: white;
    font-weight: bold;
    width: 48%;
    padding: 1.5%;
    border-radius: 25px;
    font-size: medium;
    margin-left: 1.5%;
    border: none;
  
    &:hover {
      box-shadow: 0px 0px 5px rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
      color: red;
    }
  }
  
  @media (max-width: 1040px) {
    .img-contacto img {
      display: none;
    }
  }
  
  .container-fluid, .row {
    margin-right: 0;
  }
  